fastapi==0.141.1
uvicorn==0.52.4
python-multipart==0.0.32
langchain-cohere==0.6.0
python-dotenv==1.2.3
fastmcp==4.0.1
groq==1.7.0
pillow==12.3.0
pymupdf==1.28.2
pytesseract==0.3.13
langchain-postgres==0.0.17
langchain-huggingface==1.2.2
langgraph==1.2.11
langgraph-checkpoint-postgres==3.1.2
psycopg[binary]==3.3.5
psycopg-pool==3.3.1
SQLAlchemy==2.0.52
pydantic==2.13.5